name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  tests:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          # Linux
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-latest
            target: i686-unknown-linux-gnu

          # Windows
          - os: windows-latest
            target: x86_64-pc-windows-msvc
          - os: windows-latest
            target: i686-pc-windows-msvc

          # macOS
          - os: macos-latest
            target: x86_64-apple-darwin
          - os: macos-latest
            target: aarch64-apple-darwin

    steps:
      - uses: actions/checkout@v4

      - name: Install 32-bit dependencies (Linux)
        if: matrix.target == 'i686-unknown-linux-gnu'
        run: |
          sudo apt-get update && sudo apt-get upgrade -y
          sudo apt-get install -y gcc-multilib

      - name: Update Rust
        run: rustup update stable && rustup default stable

      - name: Install Rust target
        run: rustup target add ${{ matrix.target }}

      - name: Test
        run: cargo test --verbose --target ${{ matrix.target }}

      - name: Test Release
        run: cargo test --verbose --release --target ${{ matrix.target }}
